<p id="notice"><%= notice %></p>

<h1><%= link_to 'Agregar un pin', new_pin_path ,class:"btn btn-success" %></h1>

<p>
<div class="container">
   <div class="w3-row">

  <tbody>
      <% @pins.each do |pin| %>
        <tr>
        <div class="w3-col s4  w3-center">
    <p><%= image_tag(pin.photo, :style => 'width:300px') %></p>
    <p><%= pin.description %></p>
     <td><%= link_to 'MOSTRAR', pin %></td>
          <td><%= link_to 'EDITAR', edit_pin_path(pin) %></td>
          <td><%= link_to 'ELIMINAR', pin, method: :delete, data: { confirm: 'ESTAS SEGURO?' } %></td>
    </div>
         
         
         
        </tr>
      <% end %>
    </tbody>
</div> 
<div>